.chatbox {
    --color-primary: #000;
    --color-text: #fff;

    font-size: 15px;
    line-height: 1.4;

    -webkit-text-size-adjust: 100%;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.chatbox * {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;
    background-color: transparent;
}

.chatbox-chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    height: 100%-70px;
    overflow-y: scroll;
}

.chatbox-chat-message {
    position: relative;
    display: flex;
}

.chatbox-chat-message span {
    padding: 10px 15px;
    display: inline-flex;
    border-radius: 10px;
}

.chatbox-chat-message.chatbox-chat-message-out {
    margin-right: 3rem;
}

.chatbox-chat-message.chatbox-chat-message-out span {
    background-color: #eee;
}

.chatbox-chat-message.chatbox-chat-message-in {
    margin-left: 3rem;
    justify-content: flex-end;
}

.chatbox-chat-message.chatbox-chat-message-in span {
    color: var(--color-text);
    background-color: #0072ff
}

/* Form container */
/* Message input field */
.chatbox-form-message {
    display: block;
    height: 40px;
    width: calc(100% - 60px);
    margin-right: 10px;
    padding: 10px;
    border: 0;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
}

.chatbox-form-message:focus {
    border-color: transparent; /* Remove border color on focus */
    box-shadow: none; /* Remove box shadow on focus */
}

/* Placeholder style */
.chatbox-form-message::placeholder {
    color: #aaa;
    opacity: 1;
}


/* Send button */
.chatbox-form-submit {
    cursor: pointer;
    z-index: 2;
    width: 40px; /* Fixed width for the button */
    height: 40px; /* Fixed height for better alignment with input */
    padding: 5px 10px; /* Padding adjusted for visual balance */
    background-color: var(--color-primary); /* Uses primary color variable */
    color: #fff; /* Text color for the button */
    border: none; /* No border for a cleaner look */
    border-radius: 50%; /* Rounded shape for the button */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Icon size if using text or icon font */
}

/* Adding a simple transition for interactive elements */
.chatbox-form-message, .chatbox-form-submit {
    transition: all 0.3s ease; /* Smooth transition for interactions */
}

.chatbox-form-submit:hover {
    border-color: #888; /* Highlight on focus/hover */
    box-shadow: 0 0 8px rgba(0,0,0,0.1); /* Soft glow effect */
}


/* Form container */
.chatbox-form {
    display: grid;
    grid-template-columns: 1fr auto; /* Input field takes most of the space, button takes remaining */
    align-items: center; /* Center align items vertically */
    position: relative;
    border-top: 1px solid #ddd; /* Lighter border for a softer look */
    padding: 10px; /* Adds padding inside the form area */
    background-color: #ffffff; /* Light background for the form area */
}



/* widget */

.chatbox-widget-root {
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    height: 0;
    /* transparent */
    display: flex;
    justify-content: flex-end;
    background-color: "777";
}

.chatbox-widget-modal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 460px;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.chatbox-widget-header, .chatbox-admin-header {
    padding: 0.5rem 1rem;
    color: var(--color-text);
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* Cool blue gradient */
}


.chatbox-widget-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* admin */

.chatbox-admin-root {
    position: fixed;
    inset: 0;
    background-color: #eee;
}

.chatbox-admin-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
}


.chatbox-widget-header p {
    font-size: 0.9rem;
}

.chatbox-widget-email-form {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-top: 5px;

}

.chatbox-widget-email-form input {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.chatbox-widget-call-button, .chatbox-widget-trigger-button, .chatbox-widget-email-button {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 54px;
    height: 54px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.chatbox-widget-call-button:hover, .chatbox-widget-trigger-button:hover, .chatbox-widget-email-button:hover {
    background-color: #333; /* Darker shade when hovered */
}

.chatbox-widget-call-button:active, .chatbox-widget-trigger-button:active, .chatbox-widget-email-button:active {
    transform: scale(0.95); /* Slightly smaller when clicked */
}

.chatbox-widget-call-button img, .chatbox-widget-trigger-button img, .chatbox-widget-email-button img {
    max-width: 100%;
    max-height: 100%;
    transition: filter 0.3s ease; /* Smooth transition for image effects */
}

.chatbox-widget-call-button:hover img, .chatbox-widget-trigger-button:hover img, .chatbox-widget-email-button:hover img {
    filter: brightness(0.9); /* Slightly darker image on hover */
}

.chatbox-response {
    background-color: #f2f2f2; /* Light grey background color */
    color: #333; /* Text color */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the box */
    margin-bottom: 10px; /* Spacing between messages */
    display: inline-block; /* Ensure the box only takes the necessary width */
    max-width: 70%; /* Limit maximum width of the box */
}

.user-response {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* Text color */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the box */
    margin-bottom: 10px; /* Spacing between messages */
    display: inline-block; /* Ensure the box only takes the necessary width */
    max-width: 70%; /* Limit maximum width of the box */
    text-align: right; /* Align text to the right */
    display: inline-block; /* Float the user's message to the right */
    clear: both; /* Ensure proper clearing of floats */
}

.email-modal {
    position: fixed; /* Fixed position to overlay on top of the content */
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    align-items: center; /* Center align items vertically */
    justify-items: center; /* Center align items horizontally */
    height: 460px;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    top: 0;
    right: 0;
}

.email-modal-header {
    font-size: 1.2em;
    padding: 0.5em 1em;
    font-weight: bold;
}

.email-modal-input {
    width: 90%; /* Full width but with padding */
    padding: 8px;
    margin: 10px 0; /* Margin for visual spacing */
    border: 1px solid #ccc; /* Standard border style */
    border-radius: 4px; /* Rounded corners */
}

.email-modal-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50; /* Primary button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor indicates clickable */
}

.email-modal-button:hover {
    background-color: #45a049; /* Darker green for hover effect */
}
